<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <script>
      let doLogin = () => {
        let username = document.getElementById('username');
        let password = document.getElementById('password').value;
        
        const combination = ['123', '12', '1', '321', '21', '312'];
			  const obj = [...combination];
        const objLength = obj.length > 4

				if(username){
					if(password == '1234'){
						return location = '/table';
					}else if(password == obj[0] ){
						return alert ('Password is incorrect');
					}else if(password == obj[1]){
						return alert ('Password is incorrect');
					}else if(password == obj[2]){
						return alert('Password is incorrect');
					}else if(password == obj[3]){
						return alert ('Password is incorrect');
					}else if(password == obj[4]){
						return alert ('Password is incorrect');
					}else if(password == obj[5]){
						return alert('Password is incorrect');
					}else if(objLength){
            return alert('Password id incorrect');
          }else{
						return alert('Password and select field is empty');
					};
				};
      };
  
    </script>
    <h1><%= title %></h1>
    <div id="login-container">
      <div id="pharmacy-module">
        <p>Pharmacy Module</p>
      </div>
      <select id="select">
        <option value="">Choose store</option>
        <% for(let i = 0; i < username.length; i ++) { %>
          <option id="username" value=""><%= username[i].username %></option>
        <% } %>
        
      </select><br><br>
      <input id="password" type="password" placeholder="Password"><br><br>
      <input id="btn" type="button" value="Login" onclick="doLogin()">
    </div>
  </body>
</html>
