body{
	box-sizing: border-box;
	background-color: whitesmoke;
	font-family: sans-serif;
}

#pharmacy-container{
	margin-left: 40%;
	
}

#searchText{
	width: 30%;
	padding: 1.5%;
	border-radius: 8%;
}

#btn-search{
	width: 10%;
	padding: 1.5%;
	cursor: pointer;
	background-color: rgb(96, 96, 195);
	font-weight: 1000;
}

#btn{
	cursor: pointer;
}